* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 211);
}

i {
  font-size: 20px; 
}

/* Navbar superiore */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 70px; 
    border-bottom :  1px solid rgb(105, 105, 105); 
    box-shadow: 0px 10px rgb(105, 105, 105);
}

.logo {
    width: 200px;
    height: auto;
}

.logo img {
    width: 100%;
}

.nav-menu > * {
    margin: 15px; 
}

#membership {
    border: solid 2px black;
    border-radius: 20px; 
    padding: 8px; 
}

#user-pic {
    background-color: antiquewhite;
    border-radius: 50%;
    padding: 12px; 
}

/* Main content */

.content {
    margin: 100px 100px; 
}

.content-top {
    margin-bottom: 30px; 
    padding: 15px 0; 
    border-bottom: solid 1px black;
}

.content-main {
    width: 65%; 
}

#following {
    margin-right: 20px;
    padding-left: 8px; 
}

#recommended {
    padding-bottom: 15px; 
    border-bottom: solid 2px black; 
}

.content-preview {
    display: inline-block;
    width: 60%;
}

#top-title {
    margin-left: 5px; 
}

#author-pic {
    background-color: aliceblue;
    padding: 8px; 
    border-radius: 50%; 
}

/* Article image */

#article-pic {
    width: 100%;
    height: auto;
}

.content-image {
    display: inline-block;
    width: 35%;
    height: 100%;
}